In [3]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\hp\anaconda3\lib\site-packages (8.0.26)
Collecting protobuf>=3.0.0
  Downloading protobuf-3.17.3-cp38-cp38-win_amd64.whl (909 kB)
Requirement already satisfied: six>=1.9 in c:\users\hp\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Installing collected packages: protobuf
Successfully installed protobuf-3.17.3

In [9]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost",user="root", passwd="WXpPa1mf^&*",use_pure=True)#to make a connection from database
    # check if the connection is established

    query = "SHOW DATABASES"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    #print(cursor.fetchall())

except Exception as e:
    mydb.close()
    print(str(e))

In [30]:
import mysql.connector as connection

In [31]:
conn = connection.connect(host="localhost",user="root", passwd="WXpPa1mf^&*",use_pure=True)

In [32]:
cur = conn.cursor()

In [33]:
cur.execute("show databases")

In [34]:
res = cur.fetchall()

In [35]:
res

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('world',)]

In [43]:
for i in res:
    print(i[0])

information_schema
mysql
performance_schema
sakila
sys
world

In [44]:
#Creating a new data base

In [79]:
import mysql.connector as connection
conn1 = connection.connect(host="localhost",user="root", passwd="WXpPa1mf^&*",use_pure=True)

cur1 = conn1.cursor()

cur1.execute("create database kunal23456")

#Alreday created that is why this mistake

DatabaseError: 1007 (HY000): Can't create database 'kunal23456'; database exists

In [80]:
cur1.execute("show databases")

In [81]:
cur1.fetchall()

[('information_schema',),
 ('kunal',),
 ('kunal234',),
 ('kunal2345',),
 ('kunal23456',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('world',)]

In [84]:
import mysql.connector as connection

try:
    mydb1 = connection.connect(host="localhost",user="root", passwd="WXpPa1mf^&*",use_pure=True)#to make a connection from database
    # check if the connection is established

    query = "CREATE DATABASE STUDENT"

    cursor = mydb1.cursor() #create a cursor to execute queries
    cursor.execute(query)
    #print(cursor.fetchall())

except Exception as e:
    mydb.close()
    print(str(e))

In [86]:
import mysql.connector as connection

mydb1 = connection.connect(host = "localhost", database = "STUDENT", user = "root", passwd = "WXpPa1mf^&*", use_pure = True)

In [87]:
mydb1.is_connected()

True

In [90]:
cur = mydb1.cursor()

In [112]:
cur.execute("CREATE TABLE test(x1 INT(5), x2 VARCHAR(20), x3 DATE)")

ProgrammingError: 1050 (42S01): Table 'test' already exists

In [115]:
cur.execute("INSERT INTO test values(5656, 'kunal', '2021-08-15')")#yyyy-mm-dd

In [116]:
mydb1.commit()

In [117]:
cur.execute("INSERT INTO test values(5656, 'kunal', '2021-08-15')")
cur.execute("INSERT INTO test values(5657, 'sid', '2021-08-15')")
cur.execute("INSERT INTO test values(5658, 'umesh', '2021-08-15')")
cur.execute("INSERT INTO test values(5659, 'bhagwan', '2021-08-15')")
cur.execute("INSERT INTO test values(5650, 'harendra', '2021-08-15')")
cur.execute("INSERT INTO test values(5634, 'komal', '2021-08-15')")
cur.execute("INSERT INTO test values(5635, 'sikhe', '2021-08-15')")
cur.execute("INSERT INTO test values(5645, 'aman', '2021-08-15')")

In [118]:
mydb1.commit()

In [8]:
import mysql.connector as connection

try:
    mydb1 = connection.connect(host="localhost",database = "GlassData", user="root", passwd="WXpPa1mf^&*",use_pure=True)#to make a connection from database
    # check if the connection is established

    query = "CREATE TABLE GlassData"

    cursor = mydb1.cursor() #create a cursor to execute queries
    cursor.execute(query)
    #print(cursor.fetchall())

except Exception as e:
    mydb1.close()
    print(str(e))

4028 (HY000): A table must have at least one visible column.

In [21]:
mydb = mydb1 = connection.connect(host="localhost",database = "STUDENT", user="root", passwd="WXpPa1mf^&*",use_pure=True)
cur = mydb.cursor()

In [22]:
cur.execute("select * from test")

In [23]:
res = cur.fetchall()

In [31]:
res

[(5656, 'kunal', datetime.date(2021, 8, 15)),
 (5656, 'kunal', datetime.date(2021, 8, 15)),
 (5656, 'kunal', datetime.date(2021, 8, 15)),
 (5657, 'sid', datetime.date(2021, 8, 15)),
 (5658, 'umesh', datetime.date(2021, 8, 15)),
 (5659, 'bhagwan', datetime.date(2021, 8, 15)),
 (5650, 'harendra', datetime.date(2021, 8, 15)),
 (5634, 'komal', datetime.date(2021, 8, 15)),
 (5635, 'sikhe', datetime.date(2021, 8, 15)),
 (5645, 'aman', datetime.date(2021, 8, 15))]

In [36]:
for i in res:
    print(i)

(5656, 'kunal', datetime.date(2021, 8, 15))
(5656, 'kunal', datetime.date(2021, 8, 15))
(5656, 'kunal', datetime.date(2021, 8, 15))
(5657, 'sid', datetime.date(2021, 8, 15))
(5658, 'umesh', datetime.date(2021, 8, 15))
(5659, 'bhagwan', datetime.date(2021, 8, 15))
(5650, 'harendra', datetime.date(2021, 8, 15))
(5634, 'komal', datetime.date(2021, 8, 15))
(5635, 'sikhe', datetime.date(2021, 8, 15))
(5645, 'aman', datetime.date(2021, 8, 15))

In [37]:
cur = mydb.cursor()

In [38]:
cur.execute("select x1, x2 from test")

In [39]:
for i in cur.fetchall():
    print(i)

(5656, 'kunal')
(5656, 'kunal')
(5656, 'kunal')
(5657, 'sid')
(5658, 'umesh')
(5659, 'bhagwan')
(5650, 'harendra')
(5634, 'komal')
(5635, 'sikhe')
(5645, 'aman')

In [41]:
import pandas as pd

In [43]:
mydb1

In [45]:
pd.read_sql("select * from student.test", mydb1)# to read data from database

     x1        x2          x3
0  5656     kunal  2021-08-15
1  5656     kunal  2021-08-15
2  5656     kunal  2021-08-15
3  5657       sid  2021-08-15
4  5658     umesh  2021-08-15
5  5659   bhagwan  2021-08-15
6  5650  harendra  2021-08-15
7  5634     komal  2021-08-15
8  5635     sikhe  2021-08-15
9  5645      aman  2021-08-15

In [75]:
a = pd.read_sql("select * from student.test", mydb1)

In [76]:
a

     x1        x2          x3
0  5656     kunal  2021-08-15
1  5656     kunal  2021-08-15
2  5656     kunal  2021-08-15
3  5657       sid  2021-08-15
4  5658     umesh  2021-08-15
5  5659   bhagwan  2021-08-15
6  5650  harendra  2021-08-15
7  5634     komal  2021-08-15
8  5635     sikhe  2021-08-15
9  5645      aman  2021-08-15

In [77]:
df = pd.read_csv("glass.data")

In [78]:
df

     index       RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Class
0        1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0      1
1        2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0      1
2        3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0      1
3        4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0      1
4        5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0      1
..     ...      ...    ...   ...   ...    ...   ...   ...   ...  ...    ...
209    210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0      7
210    211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0      7
211    212  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0      7
212    213  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0      7
213    214  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0      7

[214 rows x 11 columns]

In [79]:
a.to_csv("mydata")

In [80]:
mydb = connection.connect(host = "localhost", database = "STUDENT", user = "root", passwd = "WXpPa1mf^&*", use_pure = True )

In [81]:
mydb

In [82]:
cur = mydb.cursor()

In [83]:
cur.execute("create table mydata(n1 int(20), n2 varchar(20), n3 DATE)")

ProgrammingError: 1050 (42S01): Table 'mydata' already exists

In [95]:
data = pd.read_csv("mydata")

In [96]:
data

   0  5656     kunal  2021-08-15
0  1  5656     kunal  2021-08-15
1  2  5656     kunal  2021-08-15
2  3  5657       sid  2021-08-15
3  4  5658     umesh  2021-08-15
4  5  5659   bhagwan  2021-08-15
5  6  5650  harendra  2021-08-15
6  7  5634     komal  2021-08-15
7  8  5635     sikhe  2021-08-15
8  9  5645      aman  2021-08-15

In [98]:
data.to_sql("mydata", mydb)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': Not all parameters were used in the SQL statement

In [118]:
import mysql.connector as connection
import pandas as pd
import csv

In [100]:
mydb = connection.connect(host = "localhost", database = "STUDENT", user = "root", passwd = "WXpPa1mf^&*", use_pure = True )

In [102]:
cur = mydb.cursor()

In [108]:
cur.execute("CREATE TABLE  student.GlassData1 (Index_Number INT(10),RI float(10,5), Na float(10,5), Mg float(10,5),Al float(10,5)," \
            " Si float(10,5), K float(10,5), Ca float(10,5), Ba float(10,5), Fe float(10,5), Class INT(5))")

In [109]:
pwd

'C:\\Users\\Hp\\Desktop\\Untitled Folder 1'

In [112]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 9452-2BAA

 Directory of C:\Users\Hp\Desktop\Untitled Folder 1

06-09-2021  04:16    <DIR>          .
06-09-2021  04:16    <DIR>          ..
05-09-2021  23:14    <DIR>          .ipynb_checkpoints
03-09-2021  22:36    <DIR>          __pycache__
05-09-2021  23:14    <DIR>          19.2.MySQL
05-09-2021  21:28            10,576 19.2.MySQL.ipynb
05-09-2021  12:18             9,579 Abstract and Inheritance.ipynb
30-08-2021  21:40             1,469 app3.log
31-08-2021  03:16                92 arithmetic.py
04-09-2021  00:12                10 autopay
04-09-2021  00:05                17 autopay2
04-09-2021  00:00                 0 autopay3
04-09-2021  00:21            22,473 class and object.ipynb
06-09-2021  04:16            58,679 connection of SQL with python.ipynb
03-09-2021  23:23                 4 cool
21-01-2020  06:39            11,941 glass.data
04-09-2021  00:05                 0 Hbhhb
05-09-2021  23:14    <DIR>          imgs
05-09-2021  23:14    <DIR>          Imp files
02-09-2021  23:19             1,615 jupy1.ipynb
26-08-2021  03:40    <DIR>          logging
31-08-2021  00:11           104,172 Logging and Debugging.ipynb
03-09-2021  22:36               116 mo1.py
03-09-2021  22:39            50,880 Modules and Exception.ipynb
06-09-2021  03:28               242 mydata
15-05-2021  04:38               541 mydata.csv
22-03-2020  03:54         3,135,181 MYSQL application.docx
05-08-2020  16:07         2,338,832 MYSQL application.pdf
25-08-2021  02:38                23 smile
25-08-2021  03:15                23 smile_1
25-08-2021  03:16                43 smile_2
04-09-2021  00:12               748 task_class.log
31-08-2021  03:05                64 test.py
26-08-2021  03:53             1,089 test1.log
02-09-2021  22:36    <DIR>          test123
26-08-2021  06:13             2,459 test2.log
03-09-2021  05:18                 0 test22.txt
30-08-2021  21:26             1,081 test3.log
31-08-2021  03:37               198 test6.py
31-08-2021  03:01                 0 text.py.txt
05-09-2021  22:05            91,222 Untitled.ipynb
              32 File(s)      5,843,369 bytes
               9 Dir(s)  177,255,596,032 bytes free

In [127]:
with open("glass.data", "r") as data:
    data_csv = csv.reader(data, delimiter = "\n")
    next(data)
    print(data_csv)
    for i in enumerate(data_csv):
        print(i)
        for j in i[1]:
            cur.execute("insert into student.GlassData1 values({data})".format(data=(j)))
    print("All data inserted")
mydb.commit()

<_csv.reader object at 0x000001BCD888BEE0>
(0, ['1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.00,0.00,1'])
(1, ['2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.00,0.00,1'])
(2, ['3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.00,0.00,1'])
(3, ['4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.00,0.00,1'])
(4, ['5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.00,0.00,1'])
(5, ['6,1.51596,12.79,3.61,1.62,72.97,0.64,8.07,0.00,0.26,1'])
(6, ['7,1.51743,13.30,3.60,1.14,73.09,0.58,8.17,0.00,0.00,1'])
(7, ['8,1.51756,13.15,3.61,1.05,73.24,0.57,8.24,0.00,0.00,1'])
(8, ['9,1.51918,14.04,3.58,1.37,72.08,0.56,8.30,0.00,0.00,1'])
(9, ['10,1.51755,13.00,3.60,1.36,72.99,0.57,8.40,0.00,0.11,1'])
(10, ['11,1.51571,12.72,3.46,1.56,73.20,0.67,8.09,0.00,0.24,1'])
(11, ['12,1.51763,12.80,3.66,1.27,73.01,0.60,8.56,0.00,0.00,1'])
(12, ['13,1.51589,12.88,3.43,1.40,73.28,0.69,8.05,0.00,0.24,1'])
(13, ['14,1.51748,12.86,3.56,1.27,73.21,0.54,8.38,0.00,0.17,1'])
(14, ['15,1.51763,12.61,3.59,1.31,73.29,0.58,8.50,0.00,0.00,1'])
(15, ['16,1.51761,12.81,3.54,1.23,73.24,0.58,8.39,0.00,0.00,1'])
(16, ['17,1.51784,12.68,3.67,1.16,73.11,0.61,8.70,0.00,0.00,1'])
(17, ['18,1.52196,14.36,3.85,0.89,71.36,0.15,9.15,0.00,0.00,1'])
(18, ['19,1.51911,13.90,3.73,1.18,72.12,0.06,8.89,0.00,0.00,1'])
(19, ['20,1.51735,13.02,3.54,1.69,72.73,0.54,8.44,0.00,0.07,1'])
(20, ['21,1.51750,12.82,3.55,1.49,72.75,0.54,8.52,0.00,0.19,1'])
(21, ['22,1.51966,14.77,3.75,0.29,72.02,0.03,9.00,0.00,0.00,1'])
(22, ['23,1.51736,12.78,3.62,1.29,72.79,0.59,8.70,0.00,0.00,1'])
(23, ['24,1.51751,12.81,3.57,1.35,73.02,0.62,8.59,0.00,0.00,1'])
(24, ['25,1.51720,13.38,3.50,1.15,72.85,0.50,8.43,0.00,0.00,1'])
(25, ['26,1.51764,12.98,3.54,1.21,73.00,0.65,8.53,0.00,0.00,1'])
(26, ['27,1.51793,13.21,3.48,1.41,72.64,0.59,8.43,0.00,0.00,1'])
(27, ['28,1.51721,12.87,3.48,1.33,73.04,0.56,8.43,0.00,0.00,1'])
(28, ['29,1.51768,12.56,3.52,1.43,73.15,0.57,8.54,0.00,0.00,1'])
(29, ['30,1.51784,13.08,3.49,1.28,72.86,0.60,8.49,0.00,0.00,1'])
(30, ['31,1.51768,12.65,3.56,1.30,73.08,0.61,8.69,0.00,0.14,1'])
(31, ['32,1.51747,12.84,3.50,1.14,73.27,0.56,8.55,0.00,0.00,1'])
(32, ['33,1.51775,12.85,3.48,1.23,72.97,0.61,8.56,0.09,0.22,1'])
(33, ['34,1.51753,12.57,3.47,1.38,73.39,0.60,8.55,0.00,0.06,1'])
(34, ['35,1.51783,12.69,3.54,1.34,72.95,0.57,8.75,0.00,0.00,1'])
(35, ['36,1.51567,13.29,3.45,1.21,72.74,0.56,8.57,0.00,0.00,1'])
(36, ['37,1.51909,13.89,3.53,1.32,71.81,0.51,8.78,0.11,0.00,1'])
(37, ['38,1.51797,12.74,3.48,1.35,72.96,0.64,8.68,0.00,0.00,1'])
(38, ['39,1.52213,14.21,3.82,0.47,71.77,0.11,9.57,0.00,0.00,1'])
(39, ['40,1.52213,14.21,3.82,0.47,71.77,0.11,9.57,0.00,0.00,1'])
(40, ['41,1.51793,12.79,3.50,1.12,73.03,0.64,8.77,0.00,0.00,1'])
(41, ['42,1.51755,12.71,3.42,1.20,73.20,0.59,8.64,0.00,0.00,1'])
(42, ['43,1.51779,13.21,3.39,1.33,72.76,0.59,8.59,0.00,0.00,1'])
(43, ['44,1.52210,13.73,3.84,0.72,71.76,0.17,9.74,0.00,0.00,1'])
(44, ['45,1.51786,12.73,3.43,1.19,72.95,0.62,8.76,0.00,0.30,1'])
(45, ['46,1.51900,13.49,3.48,1.35,71.95,0.55,9.00,0.00,0.00,1'])
(46, ['47,1.51869,13.19,3.37,1.18,72.72,0.57,8.83,0.00,0.16,1'])
(47, ['48,1.52667,13.99,3.70,0.71,71.57,0.02,9.82,0.00,0.10,1'])
(48, ['49,1.52223,13.21,3.77,0.79,71.99,0.13,10.02,0.00,0.00,1'])
(49, ['50,1.51898,13.58,3.35,1.23,72.08,0.59,8.91,0.00,0.00,1'])
(50, ['51,1.52320,13.72,3.72,0.51,71.75,0.09,10.06,0.00,0.16,1'])
(51, ['52,1.51926,13.20,3.33,1.28,72.36,0.60,9.14,0.00,0.11,1'])
(52, ['53,1.51808,13.43,2.87,1.19,72.84,0.55,9.03,0.00,0.00,1'])
(53, ['54,1.51837,13.14,2.84,1.28,72.85,0.55,9.07,0.00,0.00,1'])
(54, ['55,1.51778,13.21,2.81,1.29,72.98,0.51,9.02,0.00,0.09,1'])
(55, ['56,1.51769,12.45,2.71,1.29,73.70,0.56,9.06,0.00,0.24,1'])
(56, ['57,1.51215,12.99,3.47,1.12,72.98,0.62,8.35,0.00,0.31,1'])
(57, ['58,1.51824,12.87,3.48,1.29,72.95,0.60,8.43,0.00,0.00,1'])
(58, ['59,1.51754,13.48,3.74,1.17,72.99,0.59,8.03,0.00,0.00,1'])
(59, ['60,1.51754,13.39,3.66,1.19,72.79,0.57,8.27,0.00,0.11,1'])
(60, ['61,1.51905,13.60,3.62,1.11,72.64,0.14,8.76,0.00,0.00,1'])
(61, ['62,1.51977,13.81,3.58,1.32,71.72,0.12,8.67,0.69,0.00,1'])
(62, ['63,1.52172,13.51,3.86,0.88,71.79,0.23,9.54,0.00,0.11,1'])
(63, ['64,1.52227,14.17,3.81,0.78,71.35,0.00,9.69,0.00,0.00,1'])
(64, ['65,1.52172,13.48,3.74,0.90,72.01,0.18,9.61,0.00,0.07,1'])
(65, ['66,1.52099,13.69,3.59,1.12,71.96,0.09,9.40,0.00,0.00,1'])
(66, ['67,1.52152,13.05,3.65,0.87,72.22,0.19,9.85,0.00,0.17,1'])
(67, ['68,1.52152,13.05,3.65,0.87,72.32,0.19,9.85,0.00,0.17,1'])
(68, ['69,1.52152,13.12,3.58,0.90,72.20,0.23,9.82,0.00,0.16,1'])
(69, ['70,1.52300,13.31,3.58,0.82,71.99,0.12,10.17,0.00,0.03,1'])
(70, ['71,1.51574,14.86,3.67,1.74,71.87,0.16,7.36,0.00,0.12,2'])
(71, ['72,1.51848,13.64,3.87,1.27,71.96,0.54,8.32,0.00,0.32,2'])
(72, ['73,1.51593,13.09,3.59,1.52,73.10,0.67,7.83,0.00,0.00,2'])
(73, ['74,1.51631,13.34,3.57,1.57,72.87,0.61,7.89,0.00,0.00,2'])
(74, ['75,1.51596,13.02,3.56,1.54,73.11,0.72,7.90,0.00,0.00,2'])
(75, ['76,1.51590,13.02,3.58,1.51,73.12,0.69,7.96,0.00,0.00,2'])
(76, ['77,1.51645,13.44,3.61,1.54,72.39,0.66,8.03,0.00,0.00,2'])
(77, ['78,1.51627,13.00,3.58,1.54,72.83,0.61,8.04,0.00,0.00,2'])
(78, ['79,1.51613,13.92,3.52,1.25,72.88,0.37,7.94,0.00,0.14,2'])
(79, ['80,1.51590,12.82,3.52,1.90,72.86,0.69,7.97,0.00,0.00,2'])
(80, ['81,1.51592,12.86,3.52,2.12,72.66,0.69,7.97,0.00,0.00,2'])
(81, ['82,1.51593,13.25,3.45,1.43,73.17,0.61,7.86,0.00,0.00,2'])
(82, ['83,1.51646,13.41,3.55,1.25,72.81,0.68,8.10,0.00,0.00,2'])
(83, ['84,1.51594,13.09,3.52,1.55,72.87,0.68,8.05,0.00,0.09,2'])
(84, ['85,1.51409,14.25,3.09,2.08,72.28,1.10,7.08,0.00,0.00,2'])
(85, ['86,1.51625,13.36,3.58,1.49,72.72,0.45,8.21,0.00,0.00,2'])
(86, ['87,1.51569,13.24,3.49,1.47,73.25,0.38,8.03,0.00,0.00,2'])
(87, ['88,1.51645,13.40,3.49,1.52,72.65,0.67,8.08,0.00,0.10,2'])
(88, ['89,1.51618,13.01,3.50,1.48,72.89,0.60,8.12,0.00,0.00,2'])
(89, ['90,1.51640,12.55,3.48,1.87,73.23,0.63,8.08,0.00,0.09,2'])
(90, ['91,1.51841,12.93,3.74,1.11,72.28,0.64,8.96,0.00,0.22,2'])
(91, ['92,1.51605,12.90,3.44,1.45,73.06,0.44,8.27,0.00,0.00,2'])
(92, ['93,1.51588,13.12,3.41,1.58,73.26,0.07,8.39,0.00,0.19,2'])
(93, ['94,1.51590,13.24,3.34,1.47,73.10,0.39,8.22,0.00,0.00,2'])
(94, ['95,1.51629,12.71,3.33,1.49,73.28,0.67,8.24,0.00,0.00,2'])
(95, ['96,1.51860,13.36,3.43,1.43,72.26,0.51,8.60,0.00,0.00,2'])
(96, ['97,1.51841,13.02,3.62,1.06,72.34,0.64,9.13,0.00,0.15,2'])
(97, ['98,1.51743,12.20,3.25,1.16,73.55,0.62,8.90,0.00,0.24,2'])
(98, ['99,1.51689,12.67,2.88,1.71,73.21,0.73,8.54,0.00,0.00,2'])
(99, ['100,1.51811,12.96,2.96,1.43,72.92,0.60,8.79,0.14,0.00,2'])
(100, ['101,1.51655,12.75,2.85,1.44,73.27,0.57,8.79,0.11,0.22,2'])
(101, ['102,1.51730,12.35,2.72,1.63,72.87,0.70,9.23,0.00,0.00,2'])
(102, ['103,1.51820,12.62,2.76,0.83,73.81,0.35,9.42,0.00,0.20,2'])
(103, ['104,1.52725,13.80,3.15,0.66,70.57,0.08,11.64,0.00,0.00,2'])
(104, ['105,1.52410,13.83,2.90,1.17,71.15,0.08,10.79,0.00,0.00,2'])
(105, ['106,1.52475,11.45,0.00,1.88,72.19,0.81,13.24,0.00,0.34,2'])
(106, ['107,1.53125,10.73,0.00,2.10,69.81,0.58,13.30,3.15,0.28,2'])
(107, ['108,1.53393,12.30,0.00,1.00,70.16,0.12,16.19,0.00,0.24,2'])
(108, ['109,1.52222,14.43,0.00,1.00,72.67,0.10,11.52,0.00,0.08,2'])
(109, ['110,1.51818,13.72,0.00,0.56,74.45,0.00,10.99,0.00,0.00,2'])
(110, ['111,1.52664,11.23,0.00,0.77,73.21,0.00,14.68,0.00,0.00,2'])
(111, ['112,1.52739,11.02,0.00,0.75,73.08,0.00,14.96,0.00,0.00,2'])
(112, ['113,1.52777,12.64,0.00,0.67,72.02,0.06,14.40,0.00,0.00,2'])
(113, ['114,1.51892,13.46,3.83,1.26,72.55,0.57,8.21,0.00,0.14,2'])
(114, ['115,1.51847,13.10,3.97,1.19,72.44,0.60,8.43,0.00,0.00,2'])
(115, ['116,1.51846,13.41,3.89,1.33,72.38,0.51,8.28,0.00,0.00,2'])
(116, ['117,1.51829,13.24,3.90,1.41,72.33,0.55,8.31,0.00,0.10,2'])
(117, ['118,1.51708,13.72,3.68,1.81,72.06,0.64,7.88,0.00,0.00,2'])
(118, ['119,1.51673,13.30,3.64,1.53,72.53,0.65,8.03,0.00,0.29,2'])
(119, ['120,1.51652,13.56,3.57,1.47,72.45,0.64,7.96,0.00,0.00,2'])
(120, ['121,1.51844,13.25,3.76,1.32,72.40,0.58,8.42,0.00,0.00,2'])
(121, ['122,1.51663,12.93,3.54,1.62,72.96,0.64,8.03,0.00,0.21,2'])
(122, ['123,1.51687,13.23,3.54,1.48,72.84,0.56,8.10,0.00,0.00,2'])
(123, ['124,1.51707,13.48,3.48,1.71,72.52,0.62,7.99,0.00,0.00,2'])
(124, ['125,1.52177,13.20,3.68,1.15,72.75,0.54,8.52,0.00,0.00,2'])
(125, ['126,1.51872,12.93,3.66,1.56,72.51,0.58,8.55,0.00,0.12,2'])
(126, ['127,1.51667,12.94,3.61,1.26,72.75,0.56,8.60,0.00,0.00,2'])
(127, ['128,1.52081,13.78,2.28,1.43,71.99,0.49,9.85,0.00,0.17,2'])
(128, ['129,1.52068,13.55,2.09,1.67,72.18,0.53,9.57,0.27,0.17,2'])
(129, ['130,1.52020,13.98,1.35,1.63,71.76,0.39,10.56,0.00,0.18,2'])
(130, ['131,1.52177,13.75,1.01,1.36,72.19,0.33,11.14,0.00,0.00,2'])
(131, ['132,1.52614,13.70,0.00,1.36,71.24,0.19,13.44,0.00,0.10,2'])
(132, ['133,1.51813,13.43,3.98,1.18,72.49,0.58,8.15,0.00,0.00,2'])
(133, ['134,1.51800,13.71,3.93,1.54,71.81,0.54,8.21,0.00,0.15,2'])
(134, ['135,1.51811,13.33,3.85,1.25,72.78,0.52,8.12,0.00,0.00,2'])
(135, ['136,1.51789,13.19,3.90,1.30,72.33,0.55,8.44,0.00,0.28,2'])
(136, ['137,1.51806,13.00,3.80,1.08,73.07,0.56,8.38,0.00,0.12,2'])
(137, ['138,1.51711,12.89,3.62,1.57,72.96,0.61,8.11,0.00,0.00,2'])
(138, ['139,1.51674,12.79,3.52,1.54,73.36,0.66,7.90,0.00,0.00,2'])
(139, ['140,1.51674,12.87,3.56,1.64,73.14,0.65,7.99,0.00,0.00,2'])
(140, ['141,1.51690,13.33,3.54,1.61,72.54,0.68,8.11,0.00,0.00,2'])
(141, ['142,1.51851,13.20,3.63,1.07,72.83,0.57,8.41,0.09,0.17,2'])
(142, ['143,1.51662,12.85,3.51,1.44,73.01,0.68,8.23,0.06,0.25,2'])
(143, ['144,1.51709,13.00,3.47,1.79,72.72,0.66,8.18,0.00,0.00,2'])
(144, ['145,1.51660,12.99,3.18,1.23,72.97,0.58,8.81,0.00,0.24,2'])
(145, ['146,1.51839,12.85,3.67,1.24,72.57,0.62,8.68,0.00,0.35,2'])
(146, ['147,1.51769,13.65,3.66,1.11,72.77,0.11,8.60,0.00,0.00,3'])
(147, ['148,1.51610,13.33,3.53,1.34,72.67,0.56,8.33,0.00,0.00,3'])
(148, ['149,1.51670,13.24,3.57,1.38,72.70,0.56,8.44,0.00,0.10,3'])
(149, ['150,1.51643,12.16,3.52,1.35,72.89,0.57,8.53,0.00,0.00,3'])
(150, ['151,1.51665,13.14,3.45,1.76,72.48,0.60,8.38,0.00,0.17,3'])
(151, ['152,1.52127,14.32,3.90,0.83,71.50,0.00,9.49,0.00,0.00,3'])
(152, ['153,1.51779,13.64,3.65,0.65,73.00,0.06,8.93,0.00,0.00,3'])
(153, ['154,1.51610,13.42,3.40,1.22,72.69,0.59,8.32,0.00,0.00,3'])
(154, ['155,1.51694,12.86,3.58,1.31,72.61,0.61,8.79,0.00,0.00,3'])
(155, ['156,1.51646,13.04,3.40,1.26,73.01,0.52,8.58,0.00,0.00,3'])
(156, ['157,1.51655,13.41,3.39,1.28,72.64,0.52,8.65,0.00,0.00,3'])
(157, ['158,1.52121,14.03,3.76,0.58,71.79,0.11,9.65,0.00,0.00,3'])
(158, ['159,1.51776,13.53,3.41,1.52,72.04,0.58,8.79,0.00,0.00,3'])
(159, ['160,1.51796,13.50,3.36,1.63,71.94,0.57,8.81,0.00,0.09,3'])
(160, ['161,1.51832,13.33,3.34,1.54,72.14,0.56,8.99,0.00,0.00,3'])
(161, ['162,1.51934,13.64,3.54,0.75,72.65,0.16,8.89,0.15,0.24,3'])
(162, ['163,1.52211,14.19,3.78,0.91,71.36,0.23,9.14,0.00,0.37,3'])
(163, ['164,1.51514,14.01,2.68,3.50,69.89,1.68,5.87,2.20,0.00,5'])
(164, ['165,1.51915,12.73,1.85,1.86,72.69,0.60,10.09,0.00,0.00,5'])
(165, ['166,1.52171,11.56,1.88,1.56,72.86,0.47,11.41,0.00,0.00,5'])
(166, ['167,1.52151,11.03,1.71,1.56,73.44,0.58,11.62,0.00,0.00,5'])
(167, ['168,1.51969,12.64,0.00,1.65,73.75,0.38,11.53,0.00,0.00,5'])
(168, ['169,1.51666,12.86,0.00,1.83,73.88,0.97,10.17,0.00,0.00,5'])
(169, ['170,1.51994,13.27,0.00,1.76,73.03,0.47,11.32,0.00,0.00,5'])
(170, ['171,1.52369,13.44,0.00,1.58,72.22,0.32,12.24,0.00,0.00,5'])
(171, ['172,1.51316,13.02,0.00,3.04,70.48,6.21,6.96,0.00,0.00,5'])
(172, ['173,1.51321,13.00,0.00,3.02,70.70,6.21,6.93,0.00,0.00,5'])
(173, ['174,1.52043,13.38,0.00,1.40,72.25,0.33,12.50,0.00,0.00,5'])
(174, ['175,1.52058,12.85,1.61,2.17,72.18,0.76,9.70,0.24,0.51,5'])
(175, ['176,1.52119,12.97,0.33,1.51,73.39,0.13,11.27,0.00,0.28,5'])
(176, ['177,1.51905,14.00,2.39,1.56,72.37,0.00,9.57,0.00,0.00,6'])
(177, ['178,1.51937,13.79,2.41,1.19,72.76,0.00,9.77,0.00,0.00,6'])
(178, ['179,1.51829,14.46,2.24,1.62,72.38,0.00,9.26,0.00,0.00,6'])
(179, ['180,1.51852,14.09,2.19,1.66,72.67,0.00,9.32,0.00,0.00,6'])
(180, ['181,1.51299,14.40,1.74,1.54,74.55,0.00,7.59,0.00,0.00,6'])
(181, ['182,1.51888,14.99,0.78,1.74,72.50,0.00,9.95,0.00,0.00,6'])
(182, ['183,1.51916,14.15,0.00,2.09,72.74,0.00,10.88,0.00,0.00,6'])
(183, ['184,1.51969,14.56,0.00,0.56,73.48,0.00,11.22,0.00,0.00,6'])
(184, ['185,1.51115,17.38,0.00,0.34,75.41,0.00,6.65,0.00,0.00,6'])
(185, ['186,1.51131,13.69,3.20,1.81,72.81,1.76,5.43,1.19,0.00,7'])
(186, ['187,1.51838,14.32,3.26,2.22,71.25,1.46,5.79,1.63,0.00,7'])
(187, ['188,1.52315,13.44,3.34,1.23,72.38,0.60,8.83,0.00,0.00,7'])
(188, ['189,1.52247,14.86,2.20,2.06,70.26,0.76,9.76,0.00,0.00,7'])
(189, ['190,1.52365,15.79,1.83,1.31,70.43,0.31,8.61,1.68,0.00,7'])
(190, ['191,1.51613,13.88,1.78,1.79,73.10,0.00,8.67,0.76,0.00,7'])
(191, ['192,1.51602,14.85,0.00,2.38,73.28,0.00,8.76,0.64,0.09,7'])
(192, ['193,1.51623,14.20,0.00,2.79,73.46,0.04,9.04,0.40,0.09,7'])
(193, ['194,1.51719,14.75,0.00,2.00,73.02,0.00,8.53,1.59,0.08,7'])
(194, ['195,1.51683,14.56,0.00,1.98,73.29,0.00,8.52,1.57,0.07,7'])
(195, ['196,1.51545,14.14,0.00,2.68,73.39,0.08,9.07,0.61,0.05,7'])
(196, ['197,1.51556,13.87,0.00,2.54,73.23,0.14,9.41,0.81,0.01,7'])
(197, ['198,1.51727,14.70,0.00,2.34,73.28,0.00,8.95,0.66,0.00,7'])
(198, ['199,1.51531,14.38,0.00,2.66,73.10,0.04,9.08,0.64,0.00,7'])
(199, ['200,1.51609,15.01,0.00,2.51,73.05,0.05,8.83,0.53,0.00,7'])
(200, ['201,1.51508,15.15,0.00,2.25,73.50,0.00,8.34,0.63,0.00,7'])
(201, ['202,1.51653,11.95,0.00,1.19,75.18,2.70,8.93,0.00,0.00,7'])
(202, ['203,1.51514,14.85,0.00,2.42,73.72,0.00,8.39,0.56,0.00,7'])
(203, ['204,1.51658,14.80,0.00,1.99,73.11,0.00,8.28,1.71,0.00,7'])
(204, ['205,1.51617,14.95,0.00,2.27,73.30,0.00,8.71,0.67,0.00,7'])
(205, ['206,1.51732,14.95,0.00,1.80,72.99,0.00,8.61,1.55,0.00,7'])
(206, ['207,1.51645,14.94,0.00,1.87,73.11,0.00,8.67,1.38,0.00,7'])
(207, ['208,1.51831,14.39,0.00,1.82,72.86,1.41,6.47,2.88,0.00,7'])
(208, ['209,1.51640,14.37,0.00,2.74,72.85,0.00,9.45,0.54,0.00,7'])
(209, ['210,1.51623,14.14,0.00,2.88,72.61,0.08,9.18,1.06,0.00,7'])
(210, ['211,1.51685,14.92,0.00,1.99,73.06,0.00,8.40,1.59,0.00,7'])
(211, ['212,1.52065,14.36,0.00,2.02,73.42,0.00,8.44,1.64,0.00,7'])
(212, ['213,1.51651,14.38,0.00,1.94,73.61,0.00,8.48,1.57,0.00,7'])
(213, ['214,1.51711,14.23,0.00,2.08,73.36,0.00,8.62,1.67,0.00,7'])
All data inserted

In [131]:
with open("glass.data", "r") as data:
    data_csv = csv.reader(data, delimiter = "\n")
    next(data)
    print(data_csv)
    for j in data_csv:
        print(j, type(j))
        cur.execute("insert into student.GlassData1 values({data})".format(data=(j[0])))
    print("All data inserted")
mydb.commit()

<_csv.reader object at 0x000001BCD7C9C640>
['1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.00,0.00,1'] <class 'list'>
['2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.00,0.00,1'] <class 'list'>
['3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.00,0.00,1'] <class 'list'>
['4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.00,0.00,1'] <class 'list'>
['5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.00,0.00,1'] <class 'list'>
['6,1.51596,12.79,3.61,1.62,72.97,0.64,8.07,0.00,0.26,1'] <class 'list'>
['7,1.51743,13.30,3.60,1.14,73.09,0.58,8.17,0.00,0.00,1'] <class 'list'>
['8,1.51756,13.15,3.61,1.05,73.24,0.57,8.24,0.00,0.00,1'] <class 'list'>
['9,1.51918,14.04,3.58,1.37,72.08,0.56,8.30,0.00,0.00,1'] <class 'list'>
['10,1.51755,13.00,3.60,1.36,72.99,0.57,8.40,0.00,0.11,1'] <class 'list'>
['11,1.51571,12.72,3.46,1.56,73.20,0.67,8.09,0.00,0.24,1'] <class 'list'>
['12,1.51763,12.80,3.66,1.27,73.01,0.60,8.56,0.00,0.00,1'] <class 'list'>
['13,1.51589,12.88,3.43,1.40,73.28,0.69,8.05,0.00,0.24,1'] <class 'list'>
['14,1.51748,12.86,3.56,1.27,73.21,0.54,8.38,0.00,0.17,1'] <class 'list'>
['15,1.51763,12.61,3.59,1.31,73.29,0.58,8.50,0.00,0.00,1'] <class 'list'>
['16,1.51761,12.81,3.54,1.23,73.24,0.58,8.39,0.00,0.00,1'] <class 'list'>
['17,1.51784,12.68,3.67,1.16,73.11,0.61,8.70,0.00,0.00,1'] <class 'list'>
['18,1.52196,14.36,3.85,0.89,71.36,0.15,9.15,0.00,0.00,1'] <class 'list'>
['19,1.51911,13.90,3.73,1.18,72.12,0.06,8.89,0.00,0.00,1'] <class 'list'>
['20,1.51735,13.02,3.54,1.69,72.73,0.54,8.44,0.00,0.07,1'] <class 'list'>
['21,1.51750,12.82,3.55,1.49,72.75,0.54,8.52,0.00,0.19,1'] <class 'list'>
['22,1.51966,14.77,3.75,0.29,72.02,0.03,9.00,0.00,0.00,1'] <class 'list'>
['23,1.51736,12.78,3.62,1.29,72.79,0.59,8.70,0.00,0.00,1'] <class 'list'>
['24,1.51751,12.81,3.57,1.35,73.02,0.62,8.59,0.00,0.00,1'] <class 'list'>
['25,1.51720,13.38,3.50,1.15,72.85,0.50,8.43,0.00,0.00,1'] <class 'list'>
['26,1.51764,12.98,3.54,1.21,73.00,0.65,8.53,0.00,0.00,1'] <class 'list'>
['27,1.51793,13.21,3.48,1.41,72.64,0.59,8.43,0.00,0.00,1'] <class 'list'>
['28,1.51721,12.87,3.48,1.33,73.04,0.56,8.43,0.00,0.00,1'] <class 'list'>
['29,1.51768,12.56,3.52,1.43,73.15,0.57,8.54,0.00,0.00,1'] <class 'list'>
['30,1.51784,13.08,3.49,1.28,72.86,0.60,8.49,0.00,0.00,1'] <class 'list'>
['31,1.51768,12.65,3.56,1.30,73.08,0.61,8.69,0.00,0.14,1'] <class 'list'>
['32,1.51747,12.84,3.50,1.14,73.27,0.56,8.55,0.00,0.00,1'] <class 'list'>
['33,1.51775,12.85,3.48,1.23,72.97,0.61,8.56,0.09,0.22,1'] <class 'list'>
['34,1.51753,12.57,3.47,1.38,73.39,0.60,8.55,0.00,0.06,1'] <class 'list'>
['35,1.51783,12.69,3.54,1.34,72.95,0.57,8.75,0.00,0.00,1'] <class 'list'>
['36,1.51567,13.29,3.45,1.21,72.74,0.56,8.57,0.00,0.00,1'] <class 'list'>
['37,1.51909,13.89,3.53,1.32,71.81,0.51,8.78,0.11,0.00,1'] <class 'list'>
['38,1.51797,12.74,3.48,1.35,72.96,0.64,8.68,0.00,0.00,1'] <class 'list'>
['39,1.52213,14.21,3.82,0.47,71.77,0.11,9.57,0.00,0.00,1'] <class 'list'>
['40,1.52213,14.21,3.82,0.47,71.77,0.11,9.57,0.00,0.00,1'] <class 'list'>
['41,1.51793,12.79,3.50,1.12,73.03,0.64,8.77,0.00,0.00,1'] <class 'list'>
['42,1.51755,12.71,3.42,1.20,73.20,0.59,8.64,0.00,0.00,1'] <class 'list'>
['43,1.51779,13.21,3.39,1.33,72.76,0.59,8.59,0.00,0.00,1'] <class 'list'>
['44,1.52210,13.73,3.84,0.72,71.76,0.17,9.74,0.00,0.00,1'] <class 'list'>
['45,1.51786,12.73,3.43,1.19,72.95,0.62,8.76,0.00,0.30,1'] <class 'list'>
['46,1.51900,13.49,3.48,1.35,71.95,0.55,9.00,0.00,0.00,1'] <class 'list'>
['47,1.51869,13.19,3.37,1.18,72.72,0.57,8.83,0.00,0.16,1'] <class 'list'>
['48,1.52667,13.99,3.70,0.71,71.57,0.02,9.82,0.00,0.10,1'] <class 'list'>
['49,1.52223,13.21,3.77,0.79,71.99,0.13,10.02,0.00,0.00,1'] <class 'list'>
['50,1.51898,13.58,3.35,1.23,72.08,0.59,8.91,0.00,0.00,1'] <class 'list'>
['51,1.52320,13.72,3.72,0.51,71.75,0.09,10.06,0.00,0.16,1'] <class 'list'>
['52,1.51926,13.20,3.33,1.28,72.36,0.60,9.14,0.00,0.11,1'] <class 'list'>
['53,1.51808,13.43,2.87,1.19,72.84,0.55,9.03,0.00,0.00,1'] <class 'list'>
['54,1.51837,13.14,2.84,1.28,72.85,0.55,9.07,0.00,0.00,1'] <class 'list'>
['55,1.51778,13.21,2.81,1.29,72.98,0.51,9.02,0.00,0.09,1'] <class 'list'>
['56,1.51769,12.45,2.71,1.29,73.70,0.56,9.06,0.00,0.24,1'] <class 'list'>
['57,1.51215,12.99,3.47,1.12,72.98,0.62,8.35,0.00,0.31,1'] <class 'list'>
['58,1.51824,12.87,3.48,1.29,72.95,0.60,8.43,0.00,0.00,1'] <class 'list'>
['59,1.51754,13.48,3.74,1.17,72.99,0.59,8.03,0.00,0.00,1'] <class 'list'>
['60,1.51754,13.39,3.66,1.19,72.79,0.57,8.27,0.00,0.11,1'] <class 'list'>
['61,1.51905,13.60,3.62,1.11,72.64,0.14,8.76,0.00,0.00,1'] <class 'list'>
['62,1.51977,13.81,3.58,1.32,71.72,0.12,8.67,0.69,0.00,1'] <class 'list'>
['63,1.52172,13.51,3.86,0.88,71.79,0.23,9.54,0.00,0.11,1'] <class 'list'>
['64,1.52227,14.17,3.81,0.78,71.35,0.00,9.69,0.00,0.00,1'] <class 'list'>
['65,1.52172,13.48,3.74,0.90,72.01,0.18,9.61,0.00,0.07,1'] <class 'list'>
['66,1.52099,13.69,3.59,1.12,71.96,0.09,9.40,0.00,0.00,1'] <class 'list'>
['67,1.52152,13.05,3.65,0.87,72.22,0.19,9.85,0.00,0.17,1'] <class 'list'>
['68,1.52152,13.05,3.65,0.87,72.32,0.19,9.85,0.00,0.17,1'] <class 'list'>
['69,1.52152,13.12,3.58,0.90,72.20,0.23,9.82,0.00,0.16,1'] <class 'list'>
['70,1.52300,13.31,3.58,0.82,71.99,0.12,10.17,0.00,0.03,1'] <class 'list'>
['71,1.51574,14.86,3.67,1.74,71.87,0.16,7.36,0.00,0.12,2'] <class 'list'>
['72,1.51848,13.64,3.87,1.27,71.96,0.54,8.32,0.00,0.32,2'] <class 'list'>
['73,1.51593,13.09,3.59,1.52,73.10,0.67,7.83,0.00,0.00,2'] <class 'list'>
['74,1.51631,13.34,3.57,1.57,72.87,0.61,7.89,0.00,0.00,2'] <class 'list'>
['75,1.51596,13.02,3.56,1.54,73.11,0.72,7.90,0.00,0.00,2'] <class 'list'>
['76,1.51590,13.02,3.58,1.51,73.12,0.69,7.96,0.00,0.00,2'] <class 'list'>
['77,1.51645,13.44,3.61,1.54,72.39,0.66,8.03,0.00,0.00,2'] <class 'list'>
['78,1.51627,13.00,3.58,1.54,72.83,0.61,8.04,0.00,0.00,2'] <class 'list'>
['79,1.51613,13.92,3.52,1.25,72.88,0.37,7.94,0.00,0.14,2'] <class 'list'>
['80,1.51590,12.82,3.52,1.90,72.86,0.69,7.97,0.00,0.00,2'] <class 'list'>
['81,1.51592,12.86,3.52,2.12,72.66,0.69,7.97,0.00,0.00,2'] <class 'list'>
['82,1.51593,13.25,3.45,1.43,73.17,0.61,7.86,0.00,0.00,2'] <class 'list'>
['83,1.51646,13.41,3.55,1.25,72.81,0.68,8.10,0.00,0.00,2'] <class 'list'>
['84,1.51594,13.09,3.52,1.55,72.87,0.68,8.05,0.00,0.09,2'] <class 'list'>
['85,1.51409,14.25,3.09,2.08,72.28,1.10,7.08,0.00,0.00,2'] <class 'list'>
['86,1.51625,13.36,3.58,1.49,72.72,0.45,8.21,0.00,0.00,2'] <class 'list'>
['87,1.51569,13.24,3.49,1.47,73.25,0.38,8.03,0.00,0.00,2'] <class 'list'>
['88,1.51645,13.40,3.49,1.52,72.65,0.67,8.08,0.00,0.10,2'] <class 'list'>
['89,1.51618,13.01,3.50,1.48,72.89,0.60,8.12,0.00,0.00,2'] <class 'list'>
['90,1.51640,12.55,3.48,1.87,73.23,0.63,8.08,0.00,0.09,2'] <class 'list'>
['91,1.51841,12.93,3.74,1.11,72.28,0.64,8.96,0.00,0.22,2'] <class 'list'>
['92,1.51605,12.90,3.44,1.45,73.06,0.44,8.27,0.00,0.00,2'] <class 'list'>
['93,1.51588,13.12,3.41,1.58,73.26,0.07,8.39,0.00,0.19,2'] <class 'list'>
['94,1.51590,13.24,3.34,1.47,73.10,0.39,8.22,0.00,0.00,2'] <class 'list'>
['95,1.51629,12.71,3.33,1.49,73.28,0.67,8.24,0.00,0.00,2'] <class 'list'>
['96,1.51860,13.36,3.43,1.43,72.26,0.51,8.60,0.00,0.00,2'] <class 'list'>
['97,1.51841,13.02,3.62,1.06,72.34,0.64,9.13,0.00,0.15,2'] <class 'list'>
['98,1.51743,12.20,3.25,1.16,73.55,0.62,8.90,0.00,0.24,2'] <class 'list'>
['99,1.51689,12.67,2.88,1.71,73.21,0.73,8.54,0.00,0.00,2'] <class 'list'>
['100,1.51811,12.96,2.96,1.43,72.92,0.60,8.79,0.14,0.00,2'] <class 'list'>
['101,1.51655,12.75,2.85,1.44,73.27,0.57,8.79,0.11,0.22,2'] <class 'list'>
['102,1.51730,12.35,2.72,1.63,72.87,0.70,9.23,0.00,0.00,2'] <class 'list'>
['103,1.51820,12.62,2.76,0.83,73.81,0.35,9.42,0.00,0.20,2'] <class 'list'>
['104,1.52725,13.80,3.15,0.66,70.57,0.08,11.64,0.00,0.00,2'] <class 'list'>
['105,1.52410,13.83,2.90,1.17,71.15,0.08,10.79,0.00,0.00,2'] <class 'list'>
['106,1.52475,11.45,0.00,1.88,72.19,0.81,13.24,0.00,0.34,2'] <class 'list'>
['107,1.53125,10.73,0.00,2.10,69.81,0.58,13.30,3.15,0.28,2'] <class 'list'>
['108,1.53393,12.30,0.00,1.00,70.16,0.12,16.19,0.00,0.24,2'] <class 'list'>
['109,1.52222,14.43,0.00,1.00,72.67,0.10,11.52,0.00,0.08,2'] <class 'list'>
['110,1.51818,13.72,0.00,0.56,74.45,0.00,10.99,0.00,0.00,2'] <class 'list'>
['111,1.52664,11.23,0.00,0.77,73.21,0.00,14.68,0.00,0.00,2'] <class 'list'>
['112,1.52739,11.02,0.00,0.75,73.08,0.00,14.96,0.00,0.00,2'] <class 'list'>
['113,1.52777,12.64,0.00,0.67,72.02,0.06,14.40,0.00,0.00,2'] <class 'list'>
['114,1.51892,13.46,3.83,1.26,72.55,0.57,8.21,0.00,0.14,2'] <class 'list'>

['115,1.51847,13.10,3.97,1.19,72.44,0.60,8.43,0.00,0.00,2'] <class 'list'>
['116,1.51846,13.41,3.89,1.33,72.38,0.51,8.28,0.00,0.00,2'] <class 'list'>
['117,1.51829,13.24,3.90,1.41,72.33,0.55,8.31,0.00,0.10,2'] <class 'list'>
['118,1.51708,13.72,3.68,1.81,72.06,0.64,7.88,0.00,0.00,2'] <class 'list'>
['119,1.51673,13.30,3.64,1.53,72.53,0.65,8.03,0.00,0.29,2'] <class 'list'>
['120,1.51652,13.56,3.57,1.47,72.45,0.64,7.96,0.00,0.00,2'] <class 'list'>
['121,1.51844,13.25,3.76,1.32,72.40,0.58,8.42,0.00,0.00,2'] <class 'list'>
['122,1.51663,12.93,3.54,1.62,72.96,0.64,8.03,0.00,0.21,2'] <class 'list'>
['123,1.51687,13.23,3.54,1.48,72.84,0.56,8.10,0.00,0.00,2'] <class 'list'>
['124,1.51707,13.48,3.48,1.71,72.52,0.62,7.99,0.00,0.00,2'] <class 'list'>
['125,1.52177,13.20,3.68,1.15,72.75,0.54,8.52,0.00,0.00,2'] <class 'list'>
['126,1.51872,12.93,3.66,1.56,72.51,0.58,8.55,0.00,0.12,2'] <class 'list'>
['127,1.51667,12.94,3.61,1.26,72.75,0.56,8.60,0.00,0.00,2'] <class 'list'>
['128,1.52081,13.78,2.28,1.43,71.99,0.49,9.85,0.00,0.17,2'] <class 'list'>
['129,1.52068,13.55,2.09,1.67,72.18,0.53,9.57,0.27,0.17,2'] <class 'list'>
['130,1.52020,13.98,1.35,1.63,71.76,0.39,10.56,0.00,0.18,2'] <class 'list'>
['131,1.52177,13.75,1.01,1.36,72.19,0.33,11.14,0.00,0.00,2'] <class 'list'>
['132,1.52614,13.70,0.00,1.36,71.24,0.19,13.44,0.00,0.10,2'] <class 'list'>
['133,1.51813,13.43,3.98,1.18,72.49,0.58,8.15,0.00,0.00,2'] <class 'list'>
['134,1.51800,13.71,3.93,1.54,71.81,0.54,8.21,0.00,0.15,2'] <class 'list'>
['135,1.51811,13.33,3.85,1.25,72.78,0.52,8.12,0.00,0.00,2'] <class 'list'>
['136,1.51789,13.19,3.90,1.30,72.33,0.55,8.44,0.00,0.28,2'] <class 'list'>
['137,1.51806,13.00,3.80,1.08,73.07,0.56,8.38,0.00,0.12,2'] <class 'list'>
['138,1.51711,12.89,3.62,1.57,72.96,0.61,8.11,0.00,0.00,2'] <class 'list'>
['139,1.51674,12.79,3.52,1.54,73.36,0.66,7.90,0.00,0.00,2'] <class 'list'>
['140,1.51674,12.87,3.56,1.64,73.14,0.65,7.99,0.00,0.00,2'] <class 'list'>
['141,1.51690,13.33,3.54,1.61,72.54,0.68,8.11,0.00,0.00,2'] <class 'list'>
['142,1.51851,13.20,3.63,1.07,72.83,0.57,8.41,0.09,0.17,2'] <class 'list'>
['143,1.51662,12.85,3.51,1.44,73.01,0.68,8.23,0.06,0.25,2'] <class 'list'>
['144,1.51709,13.00,3.47,1.79,72.72,0.66,8.18,0.00,0.00,2'] <class 'list'>
['145,1.51660,12.99,3.18,1.23,72.97,0.58,8.81,0.00,0.24,2'] <class 'list'>
['146,1.51839,12.85,3.67,1.24,72.57,0.62,8.68,0.00,0.35,2'] <class 'list'>
['147,1.51769,13.65,3.66,1.11,72.77,0.11,8.60,0.00,0.00,3'] <class 'list'>
['148,1.51610,13.33,3.53,1.34,72.67,0.56,8.33,0.00,0.00,3'] <class 'list'>
['149,1.51670,13.24,3.57,1.38,72.70,0.56,8.44,0.00,0.10,3'] <class 'list'>
['150,1.51643,12.16,3.52,1.35,72.89,0.57,8.53,0.00,0.00,3'] <class 'list'>
['151,1.51665,13.14,3.45,1.76,72.48,0.60,8.38,0.00,0.17,3'] <class 'list'>
['152,1.52127,14.32,3.90,0.83,71.50,0.00,9.49,0.00,0.00,3'] <class 'list'>
['153,1.51779,13.64,3.65,0.65,73.00,0.06,8.93,0.00,0.00,3'] <class 'list'>
['154,1.51610,13.42,3.40,1.22,72.69,0.59,8.32,0.00,0.00,3'] <class 'list'>
['155,1.51694,12.86,3.58,1.31,72.61,0.61,8.79,0.00,0.00,3'] <class 'list'>
['156,1.51646,13.04,3.40,1.26,73.01,0.52,8.58,0.00,0.00,3'] <class 'list'>
['157,1.51655,13.41,3.39,1.28,72.64,0.52,8.65,0.00,0.00,3'] <class 'list'>
['158,1.52121,14.03,3.76,0.58,71.79,0.11,9.65,0.00,0.00,3'] <class 'list'>
['159,1.51776,13.53,3.41,1.52,72.04,0.58,8.79,0.00,0.00,3'] <class 'list'>
['160,1.51796,13.50,3.36,1.63,71.94,0.57,8.81,0.00,0.09,3'] <class 'list'>
['161,1.51832,13.33,3.34,1.54,72.14,0.56,8.99,0.00,0.00,3'] <class 'list'>
['162,1.51934,13.64,3.54,0.75,72.65,0.16,8.89,0.15,0.24,3'] <class 'list'>
['163,1.52211,14.19,3.78,0.91,71.36,0.23,9.14,0.00,0.37,3'] <class 'list'>
['164,1.51514,14.01,2.68,3.50,69.89,1.68,5.87,2.20,0.00,5'] <class 'list'>
['165,1.51915,12.73,1.85,1.86,72.69,0.60,10.09,0.00,0.00,5'] <class 'list'>
['166,1.52171,11.56,1.88,1.56,72.86,0.47,11.41,0.00,0.00,5'] <class 'list'>
['167,1.52151,11.03,1.71,1.56,73.44,0.58,11.62,0.00,0.00,5'] <class 'list'>
['168,1.51969,12.64,0.00,1.65,73.75,0.38,11.53,0.00,0.00,5'] <class 'list'>
['169,1.51666,12.86,0.00,1.83,73.88,0.97,10.17,0.00,0.00,5'] <class 'list'>
['170,1.51994,13.27,0.00,1.76,73.03,0.47,11.32,0.00,0.00,5'] <class 'list'>
['171,1.52369,13.44,0.00,1.58,72.22,0.32,12.24,0.00,0.00,5'] <class 'list'>
['172,1.51316,13.02,0.00,3.04,70.48,6.21,6.96,0.00,0.00,5'] <class 'list'>
['173,1.51321,13.00,0.00,3.02,70.70,6.21,6.93,0.00,0.00,5'] <class 'list'>
['174,1.52043,13.38,0.00,1.40,72.25,0.33,12.50,0.00,0.00,5'] <class 'list'>
['175,1.52058,12.85,1.61,2.17,72.18,0.76,9.70,0.24,0.51,5'] <class 'list'>
['176,1.52119,12.97,0.33,1.51,73.39,0.13,11.27,0.00,0.28,5'] <class 'list'>
['177,1.51905,14.00,2.39,1.56,72.37,0.00,9.57,0.00,0.00,6'] <class 'list'>
['178,1.51937,13.79,2.41,1.19,72.76,0.00,9.77,0.00,0.00,6'] <class 'list'>
['179,1.51829,14.46,2.24,1.62,72.38,0.00,9.26,0.00,0.00,6'] <class 'list'>
['180,1.51852,14.09,2.19,1.66,72.67,0.00,9.32,0.00,0.00,6'] <class 'list'>
['181,1.51299,14.40,1.74,1.54,74.55,0.00,7.59,0.00,0.00,6'] <class 'list'>
['182,1.51888,14.99,0.78,1.74,72.50,0.00,9.95,0.00,0.00,6'] <class 'list'>
['183,1.51916,14.15,0.00,2.09,72.74,0.00,10.88,0.00,0.00,6'] <class 'list'>
['184,1.51969,14.56,0.00,0.56,73.48,0.00,11.22,0.00,0.00,6'] <class 'list'>
['185,1.51115,17.38,0.00,0.34,75.41,0.00,6.65,0.00,0.00,6'] <class 'list'>
['186,1.51131,13.69,3.20,1.81,72.81,1.76,5.43,1.19,0.00,7'] <class 'list'>
['187,1.51838,14.32,3.26,2.22,71.25,1.46,5.79,1.63,0.00,7'] <class 'list'>
['188,1.52315,13.44,3.34,1.23,72.38,0.60,8.83,0.00,0.00,7'] <class 'list'>
['189,1.52247,14.86,2.20,2.06,70.26,0.76,9.76,0.00,0.00,7'] <class 'list'>
['190,1.52365,15.79,1.83,1.31,70.43,0.31,8.61,1.68,0.00,7'] <class 'list'>
['191,1.51613,13.88,1.78,1.79,73.10,0.00,8.67,0.76,0.00,7'] <class 'list'>
['192,1.51602,14.85,0.00,2.38,73.28,0.00,8.76,0.64,0.09,7'] <class 'list'>
['193,1.51623,14.20,0.00,2.79,73.46,0.04,9.04,0.40,0.09,7'] <class 'list'>
['194,1.51719,14.75,0.00,2.00,73.02,0.00,8.53,1.59,0.08,7'] <class 'list'>
['195,1.51683,14.56,0.00,1.98,73.29,0.00,8.52,1.57,0.07,7'] <class 'list'>
['196,1.51545,14.14,0.00,2.68,73.39,0.08,9.07,0.61,0.05,7'] <class 'list'>
['197,1.51556,13.87,0.00,2.54,73.23,0.14,9.41,0.81,0.01,7'] <class 'list'>
['198,1.51727,14.70,0.00,2.34,73.28,0.00,8.95,0.66,0.00,7'] <class 'list'>
['199,1.51531,14.38,0.00,2.66,73.10,0.04,9.08,0.64,0.00,7'] <class 'list'>
['200,1.51609,15.01,0.00,2.51,73.05,0.05,8.83,0.53,0.00,7'] <class 'list'>
['201,1.51508,15.15,0.00,2.25,73.50,0.00,8.34,0.63,0.00,7'] <class 'list'>
['202,1.51653,11.95,0.00,1.19,75.18,2.70,8.93,0.00,0.00,7'] <class 'list'>
['203,1.51514,14.85,0.00,2.42,73.72,0.00,8.39,0.56,0.00,7'] <class 'list'>
['204,1.51658,14.80,0.00,1.99,73.11,0.00,8.28,1.71,0.00,7'] <class 'list'>
['205,1.51617,14.95,0.00,2.27,73.30,0.00,8.71,0.67,0.00,7'] <class 'list'>
['206,1.51732,14.95,0.00,1.80,72.99,0.00,8.61,1.55,0.00,7'] <class 'list'>
['207,1.51645,14.94,0.00,1.87,73.11,0.00,8.67,1.38,0.00,7'] <class 'list'>
['208,1.51831,14.39,0.00,1.82,72.86,1.41,6.47,2.88,0.00,7'] <class 'list'>
['209,1.51640,14.37,0.00,2.74,72.85,0.00,9.45,0.54,0.00,7'] <class 'list'>
['210,1.51623,14.14,0.00,2.88,72.61,0.08,9.18,1.06,0.00,7'] <class 'list'>
['211,1.51685,14.92,0.00,1.99,73.06,0.00,8.40,1.59,0.00,7'] <class 'list'>
['212,1.52065,14.36,0.00,2.02,73.42,0.00,8.44,1.64,0.00,7'] <class 'list'>
['213,1.51651,14.38,0.00,1.94,73.61,0.00,8.48,1.57,0.00,7'] <class 'list'>
['214,1.51711,14.23,0.00,2.08,73.36,0.00,8.62,1.67,0.00,7'] <class 'list'>
All data inserted

In [132]:
mydb = connection.connect(host = "localhost", database = "STUDENT", user = "root", passwd = "WXpPa1mf^&*", use_pure = True
                        )

In [134]:
cur = mydb.cursor()

In [137]:
cur.execute("create table student.Contact(sno int(5), name varchar(20), phone int(20), message varchar(120), date DATE, email varchar(30))")

In [138]:
mydb = connection.connect(host = "localhost", database = "STUDENT", user = "root", passwd = "WXpPa1mf^&*", use_pure = True
                        )

In [139]:
cur = mydb.cursor()

In [142]:
cur.execute("insert into student.Contact values(1, 'kunal', 951910500, 'hello', '2021-09-08', 'vermakunal875')")

In [143]:
mydb.commit()

In [145]:
pip install MySQL-python

Collecting MySQL-pythonNote: you may need to restart the kernel to use updated packages.

  ERROR: Command errored out with exit status 1:
   command: 'C:\Users\Hp\anaconda3\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\Hp\\AppData\\Local\\Temp\\pip-install-91cj3g_t\\mysql-python_e21c5fa4b1b84399917dae74a088b3c5\\setup.py'"'"'; __file__='"'"'C:\\Users\\Hp\\AppData\\Local\\Temp\\pip-install-91cj3g_t\\mysql-python_e21c5fa4b1b84399917dae74a088b3c5\\setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' bdist_wheel -d 'C:\Users\Hp\AppData\Local\Temp\pip-wheel-t7_hd30t'

  Downloading MySQL-python-1.2.5.zip (108 kB)
Building wheels for collected packages: MySQL-python
  Building wheel for MySQL-python (setup.py): started
  Building wheel for MySQL-python (setup.py): finished with status 'error'
  Running setup.py clean for MySQL-python
Failed to build MySQL-python
Installing collected packages: MySQL-python
    Running setup.py install for MySQL-python: started
    Running setup.py install for MySQL-python: finished with status 'error'

       cwd: C:\Users\Hp\AppData\Local\Temp\pip-install-91cj3g_t\mysql-python_e21c5fa4b1b84399917dae74a088b3c5\
  Complete output (24 lines):
  running bdist_wheel
  running build
  running build_py
  creating build
  creating build\lib.win-amd64-3.8
  copying _mysql_exceptions.py -> build\lib.win-amd64-3.8
  creating build\lib.win-amd64-3.8\MySQLdb
  copying MySQLdb\__init__.py -> build\lib.win-amd64-3.8\MySQLdb
  copying MySQLdb\converters.py -> build\lib.win-amd64-3.8\MySQLdb
  copying MySQLdb\connections.py -> build\lib.win-amd64-3.8\MySQLdb
  copying MySQLdb\cursors.py -> build\lib.win-amd64-3.8\MySQLdb
  copying MySQLdb\release.py -> build\lib.win-amd64-3.8\MySQLdb
  copying MySQLdb\times.py -> build\lib.win-amd64-3.8\MySQLdb
  creating build\lib.win-amd64-3.8\MySQLdb\constants
  copying MySQLdb\constants\__init__.py -> build\lib.win-amd64-3.8\MySQLdb\constants
  copying MySQLdb\constants\CR.py -> build\lib.win-amd64-3.8\MySQLdb\constants
  copying MySQLdb\constants\FIELD_TYPE.py -> build\lib.win-amd64-3.8\MySQLdb\constants
  copying MySQLdb\constants\ER.py -> build\lib.win-amd64-3.8\MySQLdb\constants
  copying MySQLdb\constants\FLAG.py -> build\lib.win-amd64-3.8\MySQLdb\constants
  copying MySQLdb\constants\REFRESH.py -> build\lib.win-amd64-3.8\MySQLdb\constants
  copying MySQLdb\constants\CLIENT.py -> build\lib.win-amd64-3.8\MySQLdb\constants
  running build_ext
  building '_mysql' extension
  error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
  ----------------------------------------
  ERROR: Failed building wheel for MySQL-python
    ERROR: Command errored out with exit status 1:
     command: 'C:\Users\Hp\anaconda3\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\Hp\\AppData\\Local\\Temp\\pip-install-91cj3g_t\\mysql-python_e21c5fa4b1b84399917dae74a088b3c5\\setup.py'"'"'; __file__='"'"'C:\\Users\\Hp\\AppData\\Local\\Temp\\pip-install-91cj3g_t\\mysql-python_e21c5fa4b1b84399917dae74a088b3c5\\setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record 'C:\Users\Hp\AppData\Local\Temp\pip-record-lh0fkaef\install-record.txt' --single-version-externally-managed --compile --install-headers 'C:\Users\Hp\anaconda3\Include\MySQL-python'
         cwd: C:\Users\Hp\AppData\Local\Temp\pip-install-91cj3g_t\mysql-python_e21c5fa4b1b84399917dae74a088b3c5\
    Complete output (24 lines):
    running install
    running build
    running build_py
    creating build
    creating build\lib.win-amd64-3.8
    copying _mysql_exceptions.py -> build\lib.win-amd64-3.8
    creating build\lib.win-amd64-3.8\MySQLdb
    copying MySQLdb\__init__.py -> build\lib.win-amd64-3.8\MySQLdb
    copying MySQLdb\converters.py -> build\lib.win-amd64-3.8\MySQLdb
    copying MySQLdb\connections.py -> build\lib.win-amd64-3.8\MySQLdb
    copying MySQLdb\cursors.py -> build\lib.win-amd64-3.8\MySQLdb
    copying MySQLdb\release.py -> build\lib.win-amd64-3.8\MySQLdb
    copying MySQLdb\times.py -> build\lib.win-amd64-3.8\MySQLdb
    creating build\lib.win-amd64-3.8\MySQLdb\constants
    copying MySQLdb\constants\__init__.py -> build\lib.win-amd64-3.8\MySQLdb\constants
    copying MySQLdb\constants\CR.py -> build\lib.win-amd64-3.8\MySQLdb\constants
    copying MySQLdb\constants\FIELD_TYPE.py -> build\lib.win-amd64-3.8\MySQLdb\constants
    copying MySQLdb\constants\ER.py -> build\lib.win-amd64-3.8\MySQLdb\constants
    copying MySQLdb\constants\FLAG.py -> build\lib.win-amd64-3.8\MySQLdb\constants
    copying MySQLdb\constants\REFRESH.py -> build\lib.win-amd64-3.8\MySQLdb\constants
    copying MySQLdb\constants\CLIENT.py -> build\lib.win-amd64-3.8\MySQLdb\constants
    running build_ext
    building '_mysql' extension
    error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
    ----------------------------------------
ERROR: Command errored out with exit status 1: 'C:\Users\Hp\anaconda3\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\Hp\\AppData\\Local\\Temp\\pip-install-91cj3g_t\\mysql-python_e21c5fa4b1b84399917dae74a088b3c5\\setup.py'"'"'; __file__='"'"'C:\\Users\\Hp\\AppData\\Local\\Temp\\pip-install-91cj3g_t\\mysql-python_e21c5fa4b1b84399917dae74a088b3c5\\setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record 'C:\Users\Hp\AppData\Local\Temp\pip-record-lh0fkaef\install-record.txt' --single-version-externally-managed --compile --install-headers 'C:\Users\Hp\anaconda3\Include\MySQL-python' Check the logs for full command output.

In [146]:
!pip install flask_mysqldb

Collecting flask_mysqldb
  Downloading Flask-MySQLdb-0.2.0.tar.gz (2.1 kB)
Requirement already satisfied: Flask>=0.10 in c:\users\hp\anaconda3\lib\site-packages (from flask_mysqldb) (1.1.2)
Collecting mysqlclient
  Downloading mysqlclient-2.0.3-cp38-cp38-win_amd64.whl (179 kB)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\hp\anaconda3\lib\site-packages (from Flask>=0.10->flask_mysqldb) (1.1.0)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\hp\anaconda3\lib\site-packages (from Flask>=0.10->flask_mysqldb) (1.0.1)
Requirement already satisfied: click>=5.1 in c:\users\hp\anaconda3\lib\site-packages (from Flask>=0.10->flask_mysqldb) (7.1.2)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\hp\anaconda3\lib\site-packages (from Flask>=0.10->flask_mysqldb) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\hp\anaconda3\lib\site-packages (from Jinja2>=2.10.1->Flask>=0.10->flask_mysqldb) (1.1.1)
Building wheels for collected packages: flask-mysqldb
  Building wheel for flask-mysqldb (setup.py): started
  Building wheel for flask-mysqldb (setup.py): finished with status 'done'
  Created wheel for flask-mysqldb: filename=Flask_MySQLdb-0.2.0-py3-none-any.whl size=2666 sha256=704792f768ace736ab25af4c338ff140c9396ea73164339c3b36982f30b55063
  Stored in directory: c:\users\hp\appdata\local\pip\cache\wheels\08\dd\b3\5f7e5b2df5452362c7273b6e7e5554f3855cfc447e7440ec7e
Successfully built flask-mysqldb
Installing collected packages: mysqlclient, flask-mysqldb
Successfully installed flask-mysqldb-0.2.0 mysqlclient-2.0.3

In [147]:
mydb = MySQL(host = os.getenv("localhost"), user = os.getenv("root"), password = os.getenv(""WXpPa1mf^&*))

SyntaxError: invalid syntax (<ipython-input-147-fcec3a642bdf>, line 1)

In [157]:
from flask_mysqldb import MySQL

In [163]:
mydb = MySQL()

In [164]:
mydb.host = 'localhost'
mydb.user = 'root'
mydb.password = "WXpPa1mf^&*"
mydb.database = 'student'

In [165]:
mydb

In [168]:
cur = mydb.connection.cursor()

AttributeError: 'NoneType' object has no attribute 'cursor'